{% extends 'base/base.html' %}


{% block content %}
<h2 style="padding:15px;">Delete Card From Review List </h2>
<h3>
      <p style="color:blue ; padding:20px;">
            Are you sure you want to delete this card from the review list?
      </p>
</h3>
<form action="#" method="post">
      {% csrf_token %}
      <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'unknown_cards' %}" class="btn btn-white">Cancel</a>
      </div>
</form>
{% endblock %}