{%extends 'base/base.html' %}
{%load static %}
{% block title %}
<title>Landing Page</title>
{%endblock%}
{%block content%}
<head>
   <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="{% static 'css/landing.css'%}">

   <div class="landing"style="padding:10px;">
         <div class="landing-wrapper">
            <h2>The best digital flashcards and study tools</h2>
            <h5>Join over 60 million students using Quizlet’s science-backed flashcards, practice tests and expert solutions to
               improve
               their grades and reach their goals.</h5>
            <a href="{% url 'login' %}">Login</a>
            <a href="#">Create Account</a>
         </div> 
      </div>

</div>
<div class="section2"style="height:500px;">
   <h1>Customize Your Own Dick</h1>
   <img src="{% static 'images/image1.png'%}" alt="section2-image">
</div>
<div class="section3"style="height:500px;">
   <img src="{% static 'images/image2.png'%}" alt="section3-image">
   <h1>Feel Free To Wite Down Notes.</h1>
</div>
<div class="section4" style="height:500px;">
   <h1>Study and Review with  Flipping Cards</h1>
   <img src="{% static 'images/flashcards.gif'%}"alt="section3-image">
   
</div>
<div class="btns-wrapper" style="height:200px;">
   <a href="">Create New Account</a>
</div> 

{%endblock%}