<nav class="navbar navbar-expand-lg bg-light">
<div class="container-fluid">
   <a class="navbar-brand" href="#"style="margin-left:30px;">CS FlashCard</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:30px;">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'review_unknown' %}">Need To Remember Cards </a>
   </ul>
   {% if user.is_authenticated %}
      <form class="d-flex" role="search">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
         <li class="nav-item">
            <a class="btn btn-primary" aria-current="page" href="{% url 'logout' %}">Logout</a>
         </li>
     
   {% else %}
      <li class="nav-item">
         <a class="btn btn-primary" aria-current="page" href="{% url 'login' %}">Login</a>
      </li>
   </div>
   {% endif %}
  
   </div>
   
</div>
</nav>