{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Alert Message When Note Updated  -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
   <strong>Success!!</strong>{{message}}
   <button type="button"
         class="btn-close"
         data-bs-dismiss="alert"
         aria-label="Close"></button>
</div>
{% endfor %}
</ul>
{% endif %}
<head>
   <link rel="stylesheet" href="{% static 'css/note.css' %}">
</head>
<h2 style="padding:15px;">General Notes </h2>

<a href="#" id="add-btn" class="add"> &#43; </a>
{% for note in notes %}
{% cycle 'rgb(20, 109, 101)' 'rgb(73, 13, 18)' 'rgb(109, 71, 20)' 'rgb(227, 149, 136)' 'rgb(150, 131, 159)' 'rgb(142, 73, 92)' 'rgb(35, 95, 188)'  'rgb(37, 114, 93)' 'rgb(199, 78, 26)'  'rgb(91, 192, 222)'  'rgb(255, 92, 58)'  'rgb(169, 183, 144)' 'rgb(53, 55, 73)' 'rgb(38, 38, 38)' 'rgb(111, 19, 27)' 'rgb(142,73, 92)' 'rgb(35, 95, 188)'  'rgb(202, 129, 4)' 'rgb(74, 59, 60)'  as color silent %}
<div class="card" id="note-card" style="background-color:{{color}} ;color:white;">
   <div class="card-body">
      <h5 class="card-title">{{ note.title }}</h5>
      <p class="card-text">{{ note.content }}</p>
      <!-- Edit Note  Button-->
      <a href="{% url 'update_note' note.id %}"  style="text-decoration: none; ">
         <svg xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="balck"
            class="bi bi-pen-fill"
            viewBox="0 0 16 16">
            <path
               d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
         </svg>
      </a>
      <!-- Delete Note  -->
      <form action="{% url 'delete_note' note.id  %}" method="post">
         {% csrf_token %}
         <button type="submit" class="del-btn" onclick="return confirm('Are you sure you want to delete this Note?')">
            <svg xmlns="http://www.w3.org/2000/svg"
               width="25"
               height="25"
               fill="block"
               class="bi bi-trash3-fill"
               viewBox="0 0 16 16">
               <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
            </svg>
         </button>
      </form>
      
   </div>
</div>
{% empty %}
<h3>
   No notes yet.
</h3>
<h6 class="text-muted">
   Add a note to get started!
</h6>
   </div>
{% endfor %}
<!-- create Note Popup Form -->
<div class="bg-form">
   <div class="form-content">
   <button type="button" id="close-btn"
         class="btn-close"
         aria-label="Close" style="float:right; padding:10px;">
   </button>
      <h4 style="padding:10px;">Create Note</h4>
      <form action="" method="post">
      {% csrf_token %}
         {{note_form|crispy}}
         <button type="submit" class="btn btn-primary" style="display:block" >Add Note </button>
         </form>
   </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}