{% extends  'base/base.html' %}
{% load static%}
<head>
   <link rel="stylesheet"
      href="{% static 'css/style.css' %}">
</head>
{% block content %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
   aria-label="breadcrumb">
<ol class="breadcrumb">
  
   <li class="breadcrumb-item active"
         aria-current="page"><a style="text-decoration:none;" href="{% url 'deck_info' deck.id %}">Back</a></li>
   <li class="breadcrumb-item active"
         aria-current="page">Review</li>
</ol>
</nav>

<h1 style="margin:15px;"> Review with Random Cards</h1>
{% for card in cards %}
<div class="flip-card" style="margin:10px; width:500px; height:500px;">
   <div class="flip-card-inner">
      <!--Front of Card-->
      <div class="flip-card-front" style="background:rgb(20, 109, 101)">
         <div class="card-header">{{card.card_type}}
         </div>
         <p>
         <h4 class="card-title"
            style="font-size: 45px">{{ card.frontcard }}</h4>
         </p>
      </div>

      <!--Back of Card-->
 
      <div class="flip-card-back" style="background-color:rgb(38, 38, 38)">
         <p>
         <h4 class="card-text">{{ card.backcard|safe }}</h4>

         </p>
      </div>
      
   </div>
   {% empty %}
   <h3>There's No Cards To Review :( </h3>
</div>
{% endfor %}
<div style="margin-top:20px;">
   <div>
      {% if cards.has_previous %}
         <a href="?page={{cards.previous_page_number}}" class="btn btn-secondary">Previous</a>
      {% endif %}
      {% if cards.has_next %}
         <a href="?page={{cards.next_page_number}}" class="btn btn-primary">Next Card </a>
      {% endif %}
         The Current Card : {{cards.number}} of {{cards.paginator.num_pages}}
      <hr>
   </div>
</div>
{% endblock %}